@font-face {
  font-family: SFProDisplay-Regular;
  src: url(../font/FontsFree-Net-SFProDisplay-Regular.ttf);
}

@font-face {
  font-family: SFProDisplay-Light;
  src: url(../font/FontsFree-Net-SFProDisplay-Light.ttf);
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url(../font/FontsFree-Net-SFProDisplay-Bold.ttf);
}